<div [attr.aria-labelledby]="id">
  <label [attr.for]="id">{{ label }}</label>
  <div class="switch-wrapper">
    <label class="track" appKm role="checkbox" tabindex="0">
      <input
        appKmItem
        type="checkbox"
        [id]="id"
        [checked]="value === true"
        (focused)="activate(value)"
        (click)="activate($event.target.checked)"
        [attr.aria-checked]="value"
        [attr.disabled]="disabled ? disabled : null"
      />
      <span class="key"></span>
    </label>
  </div>
</div>
